<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>My CRM</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <!-- Bootstrap core CSS -->
    {% block css %}{% endblock %}
    <![endif]-->
  </head>
    {% block body %}

    {% endblock %}



    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block js %}{% endblock %}
</html>