{% extends 'kind_admin/kind_admin_index.html' %}
{% load tags %}
{% block url_block %}
    <span> > </span> <a href="/kind_admin/" style="color: white;font-weight: bold">{{ app_name }}</a>
    <span> > </span> <a href="/kind_admin/{{ app_name }}/{{ table_name }}/" style="color: white;font-weight: bold">{{ table_name_detail }}</a>
    <span> > </span> <a href="/kind_admin/{{ app_name }}/{{ table_name }}/{{ obj_id }}/change" style="color: white;font-weight: bold">change</a>
    <span> > 修改密码</span>
{% endblock %}

{% block container %}

<div style="width: 1000px;margin: 0 auto">
    <h3>重置【{{ obj.name }}】密码</h3>
  <div class="panel-body col-md-10">

      <form method="post" class="form-horizontal"  style="color: gold;font-weight: bolder;font-size: 16px">
          <div class="form-group">
            <label  class="col-sm-2 control-label">
                用户名：
            </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="name" value="{{ obj.email }}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">
                密码：
            </label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="password1">
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-2 control-label">
                密码(重复)：
            </label>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="password2">
            </div>
          </div>
          <div>
                  <ul>
                    {% for k,v in errors.items %}
                    <li style="color: red;">{{ k }}:{{ v }}</li>
                  </ul>
              {% endfor %}
          </div>
          <input type="submit" class="btn btn-info center-block" value="提交">
      </form>
  </div>

</div>


{% endblock %}